* {
    cursor: url("cursor-arrow.svg"), auto;
    /* https://iconduck.com/designers/radix */
}

body {
    overflow: hide;
}

#main {
    width: 100vw;
    height: 100vh;
}

img {
    position:absolute;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.4em;
}

h1, p {
    margin-left: 1em;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
